.grid-component {
    width: 100%;
    overflow-y: scroll;
    
    .category-card {
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 11px;
        background: #415a77;
        color: #fff;
    }
    
    ion-row, ion-col {
        height: auto;
    }
    
    ion-card {
        background: #0d1b2a;
        overflow: hidden;
        height: 100%;
        
        &:hover {
            cursor: pointer;
        }
        
        ion-card-title ion-text p {
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .fad-add-purchase {
            height: 56px;
        }
    }
    
    ion-skeleton-text {
        --border-radius: 9999px;
        --background: rgb(255, 255, 255);
        --background-rgb: 255, 255, 255;
    }
}