<ion-header>
  <ion-toolbar class="toolbar-modal">
    <ion-buttons slot="start">
      <ion-button id="btn-cancel" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button id="btn-confirm" [strong]="true" form="addPurchaseForm" [disabled]="!purchaseForm.valid" type="submit">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content-modal">
  <form [formGroup]="purchaseForm" (ngSubmit)="submitPurchase()" id="addPurchaseForm">
    <ion-input label="Account" disabled="true" [value]="accountId" labelPlacement="stacked"></ion-input>
    <ion-input label="Bank" disabled="true" [value]="nameBank" labelPlacement="stacked"></ion-input>
    
    <ion-input label="Price" labelPlacement="stacked" formControlName="price"></ion-input>
    <ion-input label="Notes" labelPlacement="stacked" formControlName="notes"></ion-input>
    
    <div class="category-purchase">
      <ion-text><p>Category</p></ion-text>
      <ion-chip (click)="selectChip(c.name)" *ngFor="let c of categories">
        <ion-label>{{ c.name }}</ion-label>
        <!-- <ion-icon name="close"></ion-icon> -->
      </ion-chip>
    </div>
    
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true" class="modal-calendar">
      <ng-template>
        <ion-datetime presentation="date" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>