<ion-content>
  <ion-grid class="ion-no-padding" id="grid-content">
    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeXs="0">
        <wp-side-menu></wp-side-menu>
      </ion-col>
      
      <ion-col sizeXl="10" sizeLg="9" sizeMd="8" class="ion-padding content-page">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <h1 style="font-size: 42px;">HEY, WHAT'S UP?</h1>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col sizeLg="6" sizeXs="12">
              <div>
                <ngx-charts-pie-chart
                [results]="single"
                [legend]="true"
                [legendPosition]="legendPos"
                [animations]="false"
                ></ngx-charts-pie-chart>
              </div>
            </ion-col>
            <ion-col sizeLg="6" sizeXs="12">
              Graph 2
            </ion-col>
          </ion-row>
          
          <ion-row class="account-card">
            <ion-col sizeXl="3" sizeSm="6" sizeXs="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Account 1</ion-card-title>
                  <ion-card-subtitle>
                    <span class="category-card">Poste Italiane</span>
                  </ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <div style="height: 20px; width: 100%;"></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            <ion-col sizeXl="3" sizeSm="6" sizeXs="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Account 1</ion-card-title>
                  <ion-card-subtitle>
                    <span class="category-card">Santander</span>
                  </ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <div style="height: 20px; width: 100%;"></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            <ion-col sizeXl="3" sizeSm="6" sizeXs="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Account 1</ion-card-title>
                  <ion-card-subtitle>
                    <span class="category-card">Banca Credito Cooperativa</span>
                  </ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <div style="height: 20px; width: 100%;"></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            <ion-col sizeXl="3" sizeSm="6" sizeXs="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Account 1</ion-card-title>
                  <ion-card-subtitle>
                    <span class="category-card">Banca Credito Cooperativa</span>
                  </ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <div style="height: 20px; width: 100%;"></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>