<div class="side-bar">
  <div class="user-info ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3" class="ion-align-items-center ion-justify-content-center">
          <img *ngIf="loaded" class="user-info-img" [src]="urlImgProfile" />
          <ion-skeleton-text class="user-info-img" *ngIf="!loaded" [animated]="true"></ion-skeleton-text>
        </ion-col>
        
        <ion-col size="9" class="ion-align-items-center ion-padding-start">
          <p *ngIf="loaded" class="ion-no-padding">{{ userName }}</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="side-bar-navigation">
    <ion-grid class="ion-no-padding">
      <ion-row class="navigation" routerLink="/home" (click)="setClickedLink(enLinkNavbar.Home)" [ngClass]="getNameLink() == enLinkNavbar.Home ? 'active-link' : ''">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="home-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Home</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation" routerLink="/account" (click)="setClickedLink(enLinkNavbar.Accounts)" [ngClass]="getNameLink() == enLinkNavbar.Accounts ? 'active-link' : ''">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="wallet-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Account</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation" routerLink="/category" (click)="setClickedLink(enLinkNavbar.Category)" [ngClass]="getNameLink() == enLinkNavbar.Category ? 'active-link' : ''">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="wallet-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Category</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation" routerLink="/reminders" (click)="setClickedLink(enLinkNavbar.Reminders)" [ngClass]="getNameLink() == enLinkNavbar.Reminders ? 'active-link' : ''">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Reminders</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation" routerLink="/automatic-payment" (click)="setClickedLink(enLinkNavbar.AutomaticPayment)" [ngClass]="getNameLink() == enLinkNavbar.AutomaticPayment ? 'active-link' : ''">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="repeat-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Automatic Payment</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <!-- <div class="log-out">
    <ion-grid class="ion-no-padding">
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p>Log Out</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</div>
