<div class="side-bar">
  <div class="user-info ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="3" class="ion-align-items-center ion-justify-content-center">
          <img *ngIf="loaded" id="user-info-img" [src]="urlImgProfile" />
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="aspect-ratio: 1/1; width: 100%;"></ion-skeleton-text>
        </ion-col>
        
        <ion-col size="9" class="ion-align-items-center ion-padding-start">
          <p *ngIf="loaded" class="ion-no-padding">{{ userName }}</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="side-bar-navigation">
    <ion-grid class="ion-no-padding">
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="home-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center" routerLink="/home">
          <p *ngIf="loaded">Home</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="wallet-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center" routerLink="/account">
          <p *ngIf="loaded">Account</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Reminders</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="repeat-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p *ngIf="loaded">Automatic Payment</p>
          <ion-skeleton-text *ngIf="!loaded" [animated]="true" style="width: 120px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <!-- <div class="log-out">
    <ion-grid class="ion-no-padding">
      <ion-row class="navigation">
        <ion-col size="2" class="ion-align-items-center ion-justify-content-center">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-col>
        
        <ion-col size="10" class="ion-align-items-center">
          <p>Log Out</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</div>
